@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif;
  }

  body {
    @apply bg-zinc-950 text-white;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}